@import './utils';

.VehicleItem {
  .ToggleTitles {
    span {
      display: block;
      width: 75px;
      float: right;
      font-size: 0.8rem;
      text-align: center;
    }
  }
}

.VehicleList {
  margin-top: 24px;
}

.SingleVehicle {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
  .VehicleTitle {

    small {
      display: block;
    }
    i {
      float: right;
      margin-top: 15px;
      color: $primary;
      svg {
        display: inline-block;
        width: 20px;
        fill: $primary-bg-shadow;
      }
    }
    em {
      float: right;
      text-align: right;
    }
  }
  .Toggles {
    float: right;
    label {
      display: inline-block;
      width: 75px;
      text-align: center;
      padding-top: 10px;
    }
  }
  &:last-child {
    border: none;
  }
}